<!doctype html>
{% extends 'bootstrap/base.html' %}

{% block content %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>Polynanna WebApp</title>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <img src={{ url_for('static', filename='tree.png' )}}>
        <img src={{ url_for('static', filename='py.png' )}}>
        <h1>PolyNanna</h1>
        <img src={{ url_for('static', filename='tophat.png' )}}>
        <img src={{ url_for('static', filename='gift.png' )}}>
      </div>
    </div>
  </nav>

{% block mycontent %}{% endblock mycontent %}

<footer class="footer">
  <div class="container">
    <img src={{ url_for('static', filename='tree.png' )}}>
    <img src={{ url_for('static', filename='py.png' )}}>
    <img src={{ url_for('static', filename='tophat.png' )}}>
    <img src={{ url_for('static', filename='gift.png' )}}>
    <img src={{ url_for('static', filename='tree.png' )}}>
    <img src={{ url_for('static', filename='py.png' )}}>
  </div>
</footer>
{% endblock content %}
