<!doctype html>
{% extends 'bootstrap/base.html' %}

{% block content %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>TEST PAGE</title>
<h1>Hello, World!</h1>
<h2>You have reached the Test Page.</h2>
<img src={{ url_for('static', filename='tree.png' )}}>



<footer class="footer">
  <div class="container">
    <img src={{ url_for('static', filename='tree.png' )}}>
    <img src={{ url_for('static', filename='py.png' )}}>
    <img src={{ url_for('static', filename='tophat.png' )}}>
    <img src={{ url_for('static', filename='gift.png' )}}>
    <img src={{ url_for('static', filename='tree.png' )}}>
    <img src={{ url_for('static', filename='py.png' )}}>
  </div>
</footer>
{% endblock %}
